<div class="@(IsVisible ? "toast show" : "toast")" role="alert">
    <div class="toast-header">
        <strong class="me-auto">@Title</strong>
        <button type="button" class="btn-close" @onclick="Hide"></button>
    </div>
    <div class="toast-body">
        @Message
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "알림";
    [Parameter] public string Message { get; set; } = "";
    private bool IsVisible { get; set; } = false;

    public void Show()
    {
        IsVisible = true;
        StateHasChanged();
        Task.Run(async () =>
        {
            Thread.Sleep(3000);
            await InvokeAsync(() =>
                    {
                        IsVisible = false; StateHasChanged();
                    });
        });
    }

    private void Hide()
    {
        IsVisible = false;
    }
}