body {
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remove {
    background-color: #cc1414;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

    .remove:hover {
        background-color: #830000;
    }
